#mapid {position:absolute; float:left; top:150px; height: 600px; width:50%; padding:1em;box-shadow:0 0 10px #F5F3EB;}
#information {width:46%; top:150px; position:absolute; float:right; right:0; font-family: "Work Sans";}
#report{position:absolute;top:800px;width:100%;padding:1em; box-sizing: border-box;}


body{
   background: #fff; 
    font-family: "Roboto";
}

h1{
    font-weight: 800;
    font-family:"Work Sans Black";
}

strong{
    background: #5D51DB;
    box-sizing: border-box;
    padding:.6em; border-radius:20px;
    color: #fff;
    font-weight:100;
    display:inline-block;
}


/* HEADER */

#header{
    position:absolute;
    top:0;left:0;
    width:100%;
    padding:1.25em;
    box-sizing: border-box;
    background: #fff;
    box-shadow:0 0 30px #F5F3EB;
}

#header h1{
    font-family: "Montserrat";
    font-size:48px;
    letter-spacing:1px;
    margin:0;
    text-shadow:0 0 10px #EBEBF0;
}

#header h2{
    font-family: "Work Sans Light";
    font-weight:100;
    font-style:normal;
    font-size:24px;
    margin:0;
}


/* DETAILS */

.info-box{
    background: #fff;
    margin:2em;
    padding:1em;
    box-shadow:0 0 10px #F5F3EB;
    
}


#information p{
    font-size:16px;
    line-height:22px;
    text-align: justify;
    padding:.5em;
}

#information h1{
    font-weight:400 !important;
    font-family: "Matter SQ TRIAL Black";
    text-shadow:0 0 10px #ccc;
    text-align: center;
}

#information img{
    border:10px solid #fff;
    box-shadow: 0 0 15px #EBEBF0;
    border-radius:10px;
    margin:.5em
}

#information label{
    font-size:12px; font-style: italic; color: #2E2D2C;
}

.grain-grade{
    display:block;
    width:75px;
    height:75px;
    background: #338F36;
    text-align: center;
    font-size:32px;
    margin:1em;
    color: #fff;
    font-weight:800;
    line-height:75px;
    float:right;
}

.infoboxtable{
    width:450px;
    font-size:14px;
    font-weight:100;
    line-height:24px;
    margin-top:1em;
    padding:.5em;
    box-shadow:0 0 15px #F2EEE9;
}

.infoboxtable td{
    width:50%;
}

.infoboxtable span{
    font-weight:bold;
}